@import "tailwindcss";

@theme {
    --color-red: #B42826;
    --color-gray: #222222;
    --color-gray-100: #F2F2F2;
    --color-gray-200: #D9D9D9;
    --color-gray-300: #BFBFBF;
    --color-gray-400: #A6A6A6;
    --color-gray-500: #8C8C8C;
    --color-gray-600: #737373;
    --color-gray-700: #595959;
    --color-gray-800: #404040;
    --color-gray-900: #262626;

    --font-sans: var(--font-notosans);

}